.homeCon{
    position: relative;
}
.welcomPage{
    min-width:100vw;
    max-width:100vw ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
font-family: "Roboto", sans-serif;
position: relative;


}

.navCon{
    min-width:100vw;
    max-width:100vw ;
    min-height: 80px;
    max-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.171);



}
.navLogo{
    flex: 1;
    color: black;
    font-size: 23px;
    font-weight: 900;
    margin-left: 35px;
    padding-left: 20px;
    color: #0d7ff1;
    color: rgba(0, 0, 0, 0.594);
    font-family: 'Playfair Display', serif;
    font-family: 'Montserrat', sans-serif;




}
.navLogoFullName{
   font-size: 11px;
}
.navLinksConMiddle{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navLinksConMiddleItem{
  color: black;
  font-size: 16px;
  font-weight: 900;
  padding: 10px 10px;
  margin-left: 20px;
  color: #8019c8;
  color: black;
  font-family: 'Montserrat', sans-serif;

  

}

.navLinksCon{
    flex: 1;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    margin-right: 10px;
}
.navLink{
    color: white;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 7px;
    font-weight: 800;
    font-size: 12px;
    background-color: black;
    

}


@media screen and (max-width:970px) {
    .navLogo{
        min-width: 100%;
        max-width: 100%;
        text-align: center;
        margin-left: 0px;
        position: relative;

    }
    .navConOpener{
        top: 0px;
        left: 10px;
         position: absolute;
         min-height: 30px;
         max-height: 30px;
         min-width: 30px;
         max-width: 30px;
         display: flex;
         flex-direction: column;
         justify-content: space-around;
         align-items: center;
         padding: 2px;
         z-index: 2;
         
     }
     .navConOpenerLine{
         min-height: 3px;
         max-height: 3px;
         min-width: 100%;
         max-width: 100%;
         background-color:#02a7b5;
 
     }
     .navConMCloser{
        border: 0.5px solid hsl(193, 65%, 75%);
        font-size: 18px;
        font-weight: 900;
        min-height: 30px;
         max-height: 30px;
         min-width: 30px;
         max-width: 30px;
         display: flex;
         justify-content: center;
         align-items: center;
         margin: 10px 20px;
         color: black;
     }
     .navConMCloser:active{
        min-height: 35px;
         max-height: 35px;
         min-width: 35px;
         max-width: 35px;
         background-color: lightgray;
     }
     .navCon{
        min-height: 60px;
         max-height: 60px;
         justify-content: flex-start;
     }
     
     .navLinksConMiddle{
         display: none;
     }
     .navLinksCon{
        display: none;
     }

    .navConM{
        flex-direction: column;
        align-items: center;
        justify-content:flex-start;
        min-height: 100vh;
        max-height: 100vh;
        background-color: rgba(211, 211, 211, 0.877);
        background-color: white;
        position:fixed;
        top: 0px;
        z-index: 10;
        background-color: #03f7fb;
        background-color: #01a4b3e1;
        font-family: 'Montserrat', sans-serif;


       

    }
   
    .navLogoM{
        margin-top: 10px;
        margin-left: 0px;
        font-size: 30px;
        font-weight: 900;
        color: #0192ba;
        text-align: center;
        flex: 0;
        min-height: max-content;
        max-height: max-content;
        min-width: 100vw;
        max-width: 100vw;
    }
    .navLinksConMiddleM{
 min-width: 100vw;
 max-width: 100vw;
 flex: 0;
 min-height: max-content;
 max-height: max-content;
 overflow-x: scroll;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 
    }
    .navLinksConMiddleItemM{
     font-size: 16px;
     white-space: nowrap;
     margin-left: 10px;
     padding-left: 10px;
     font-weight: 400;
     min-height: 45px;
     max-height: 45px;
     min-width: 85%;
     max-width: 85%;
     display: flex;
     align-items: center;
     border-bottom: 0.5px solid #68b0c3;
     color: white;
     font-weight: 700;
     font-family: 'Montserrat', sans-serif;




    }

    .navLinksConM{
        display: flex;
        flex-direction: column;
        flex: 0;
        min-width:100vw;
        max-width:100vw ;
        min-height: max-content;
        max-height: max-content;

    }
    .navLinkM{
       color: black;
    margin-left: 10px;
    padding-left: 10px;
    font-weight: 800;
    font-size: 16px;
    min-height: 45px;
    max-height: 45px;
    min-width: 85%;
    max-width: 85%;
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid #68b0c3;
    color: white;

    }
}





.introCon{
    min-width:100vw;
    max-width:100vw ;
    min-height: 84vh;
    max-height: 84vh;
    display: flex;
    background-color: rgba(0, 0, 0, 0.425);
    background-color: #50cff2;
    background-color: whitesmoke;
    
    justify-content: space-around;
    align-items: center;
    background-image: url(../../img/bbbb.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    


    


}

.introConIntro{
    min-width:45vw;
    max-width:45vw ;
    min-height: 54vh;
    max-height: 54vh;

   
    display: flex;
    justify-content:start;
    align-items:start;
    flex-direction: column;
    line-break: auto;
    position: relative;



}


.introConIntroText{
    font-size: 32px;
    font-weight: 700;
    line-height: 47px;
    padding: 15px;
    color: #02b0e0;
    color: #0192ba;
    color: white;
    
   margin-left: 40px;
   font-family: 'Montserrat', sans-serif;
   



}
.introConIntroTextTitle{
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    
    font-family: 'Montserrat', sans-serif;
    max-width: 100px;
    min-width: 160px;
    margin-left: 30px;
    

}

.introConImgCon{
    min-width:50vw;
    max-width:50vw ;
    min-height: 84vh;
    max-height: 84vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 800;
    color: #0d7ff1;
    color: white;
    color: #0148c0;
    color: #2e69dc;

    text-align: center;
    flex-direction: column;
   
   

    
   

}
.introConImgConImg{
    min-width:40vw;
    max-width:40vw ;
    min-height: 200px;
    max-height: 200px;

    min-width:400px;
    max-width:400px ;
    min-height: 400px;
    max-height: 400px;
    border-radius: 50%;
    background-image: url(../../img/boriif.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-color: #028fa260;

}
.introConImgConTextTitle{
 color: white;
 background-color:#01afbb;
 background-color:#01afbb65;

 min-width:400px;
 max-width:400px ;
 min-height: 400px;
 max-height: 400px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight:900;

}
@media screen and (max-width:1030px) {
    .introConIntroText{
       font-size: 30px;
    }
    .introConIntroTextTitle{
        font-size: 13px;
    }
}

@media screen and (max-width:825px) {
    .introConIntroText{
       font-size: 20px;
    }
    .introConIntroTextTitle{
        font-size: 12px;
    }
    .introConImgConImg{
        min-width:300px;
        max-width:300px ;
        min-height: 300px;
        max-height: 300px;

    }
}

@media screen and (max-width:600px) {
    .introCon{
       
        margin-top: 20px;
        flex-direction: column;
        min-height: max-content;
        max-height: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .introConIntro{
        min-height: max-content;
        max-height: max-content;
        min-width:89vw;
        max-width:89vw ;
    }
    .introConImgCon{
        min-height: 350px;
        max-height:350px;
        min-width:100
        
        vw;
        max-width:100vw ;
        margin: 10px;
    }
   
    .introConImgConText{
        font-size: 20px;
    }
    .introConIntroText{
        font-size: 20px;
     }
     .introConIntroTextTitle{
         font-size: 11px;
         font-weight: 400;
         margin-top: 30px;
     }
     .introConImgConImg{
         min-width:300px;
         max-width:300px ;
         min-height: 300px;
         max-height: 300px;
         background-color: transparent;
     }
}

/******************************************************************/

.aboutCon{
    min-height: max-content;
    max-height: max-content;
    min-width:100vw;
    max-width:100vw;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 60px;
    padding: 30px;


}
.aboutCon3{
    padding-top: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;

}

.aboutConSub{
    min-height: 350px;
    max-height: 350px;
    min-width:400px;
    max-width:400px;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    color: black;
}
.aboutConSubTextShadow{
    min-width:50%;
    max-width:50%;
   
}
.aboutConSubTitle{
    margin: 15px 0px;
    color: #0192ba;
    color: #17e1cf;
    color: #02a7b5;
    color:#03a1af;
}
.aboutConSubTitle3{
margin-bottom: 50px;
}
.aboutConSubTitleText{
 font-size: 14px;
 font-weight: 300;
 line-height: 24px;
 font-family: 'Montserrat', sans-serif;
}
.aboutConSubTitleText1{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;

}
.aboutConSubTitleText3{
    justify-content: flex-start;
    text-align: start;
}
.aboutConSubTitleTextImg{
    background-image: url(../../img/rock1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 300px;
    max-height:300px;
    min-width:300px;
    max-width:300px;
}
.aboutConSubTitleTextImg2{
    background-image: url(../../img/tree1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 450px;
    max-height: 450px;
    min-width:40%;
    max-width:40%;
}
.wide-con{
    min-width:99vw;
    max-width:99vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 60px;
}


.wide-con-sub-con{
    min-height: 450px;
    max-height: 450px;
    min-width:70vw;
    max-width:70vw;
    background-image: url(../../img/background2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px gray;
    margin-top: 30px;

    

}
.wide-con-sub-con1{
    display: flex;
    flex-direction:row;
    color: white;
 }

.aboutConSubWideText{
    color: white;
    padding: 30px;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
}
.aboutConSubWideText1{
    line-height: 1.5;
    color: white;

}
.aboutConSubTitleWide{
    color:white;
    font-size: 20px;
    font-weight: 900;
}

@media screen and (max-width:900px) {
    .aboutCon{
        flex-direction: column;
    }
    .aboutCon2{
        flex-direction: column-reverse;
    }
    .aboutConSub{
        min-height: max-content;
        max-height: max-content;
        min-width:90%;
        max-width:90%;
    }
    .aboutConSubTitleTextImg{
        min-height: 250px;
    max-height: 250px;
    min-width:40%;
    max-width:40%;
    }
    .aboutConSubTitleTextImg2{
        min-height: 350px;
    max-height: 350px;
    min-width:60%;
    max-width:60%;
    background-size: cover;
    border-radius: none;
    background-size: contain;

    }
    .wide-con-sub-con{
        min-width:90vw;
    max-width:90vw;
    }
}
@media screen and (max-width:700px) {
    .wide-con-sub-con{
        min-height: max-content;
        max-height: max-content;
        padding-top: 30px;
    }
}
@media screen and (max-width:600px) {
    .aboutConSubTitleTextImg{
        min-height: 250px;
    max-height: 250px;
    min-width:70%;
    max-width:70%;
    }
    .aboutConSubTitleTextImg2{
        min-height: 350px;
    max-height: 350px;
    min-width:70%;
    max-width:70%;
    background-size: cover;
    border-radius: none;
    background-size: contain;

    }

}
@media screen and (max-width:450px) {
    .aboutConSubTitleTextImg2{
        min-height: 350px;
    max-height: 350px;
    min-width:70vw;
    max-width:70vw;
    background-size: cover;
    border-radius: none;
    background-size: contain;
    }
}
